.hero {
  margin-top: 60px;
  width: 100%;
}

.heroImageWrapper {
  position: relative;
  width: 100%;
  max-width: 2000px;
}

.heroImage {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 30%; 
  transform: translateY(-50%); 
  text-align: center;
  border-radius: 10px;
  color: black;
  max-width: 50%;
}

.sparkles {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; 
  background-color: #fee2e2;
  color: #b91c1c;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1.5rem; 
}

.simple {
  color: #b91c1c;
}


.heroTitle {
  font-size: 50px;
  margin-bottom: 25px;
  font-weight: bold;
}

.heroSubtitle {
  font-size: 18px;
  margin-bottom: 35px;
}

.buttons {
  gap: 2px;
}

.heroButton {
  padding: 18px 28px;
  background: #e22121;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

.heroButton:hover {
  background: #b91c1c
}

.demoButton {
  padding: 18px 28px;
  background: white;
  color: black;
  border-color: rgb(116, 122, 122);
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.demoButton:hover {
  background-color: azure;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .heroImage {
    height: 50vh;
  }

  .heroContent {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.25); /* overlay only on mobile */
  }

  .heroTitle {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .heroSubtitle {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .heroButton {
    font-size: 16px;
    padding: 14px 22px;
  }
}
