/* General Wrapper */
.wrapper {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 12px 25px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    z-index: 100;
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
    color: #e65100;
  }
  
  /* Desktop Links */
  .linksDesktop {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: px;
    display: flex;
    align-items: center;
    /* transition: background 0.3s ease; */
  }

  .link:hover {
    background-color: #e65100;
    color: white;
    padding-top: 40px;
    padding-bottom: 35px;
  }
  
  .ctaButton {
    padding: 10px 18px;
    background: #e65100;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  


  /* Hamburger */
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    border-radius: 2px;
  }
  
  /* Mobile Menu */
  .mobileMenu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: slideDown 0.3s ease;
  }
  
  .mobileLink {
    color: #333;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .mobileCta {
    width: 100%;
    margin-top: 10px;
  }

  
  /* Features Section */
  .featuresSection {
    padding: 60px 40px;
    background: #fff;
  }
  
  .sectionHeader {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
  }
  
  .featuresList {
    max-width: 600px;
    margin: auto;
    list-style: none;
    padding: 0;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #222;
    color: white;
  }

  .social-images{
   display: flex;
  }
  
  .instagram{
    width: 20px;
    height: 20px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .linksDesktop {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  
    .hero {
      flex-direction: column;
    }
  }
  