.signup-page {
    min-height: 100vh;
    background-image: linear-gradient(
      rgba(0,0,0,0.55),
      rgba(0,0,0,0.55)
    ), url("/signup-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup-overlay {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .signup-container {
    background: #fff;
    padding: 40px 30px;
    border-radius: 18px;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    text-align: center;
  }
  
  .signup-container h1 {
    color: #e53935;
    margin-bottom: 10px;
  }
  
  .signup-container p {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
  }
  
  .signup-container input{
    width: 90%;
    padding: 12px 14px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  .signup-container select {
    width: 97%;
    padding: 12px 14px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .signup-container input:focus,
  .signup-container select:focus {
    outline: none;
    border-color: #e53935;
  }
  .terms {
    display: flex;
  }

  .checkbox {
    display: flex;
    gap: 13px;
    font-size: 13px;
    color: #555;
    margin-bottom: 20px;
    white-space: nowrap; 
  }
  
  .checkbox input {
    margin: 0;
  }
  
  .checkbox span a {
    color: #e53935;
    text-decoration: none;
  }
  
  .checkbox span a:hover {
    text-decoration: underline;
  }

  .box {
    margin-top: 1%;
  }
  
  
  .btn-signup {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    background: #e53935;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .btn-signup:hover {
    background: #c62828;
    transform: translateY(-2px);
  }
  
  .signup-footer {
    margin-top: 20px;
    font-size: 13px;
  }
  