body{margin:0;font-family:Arial,Helvetica,sans-serif;background-image:url(/secret-santa/boxes.jpg);background-size:cover;background-position:center;background-repeat:no-repeat;background-attachment:fixed}
