body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/boxe.jpg");
  background-size: cover;       
  background-position: center;   
  background-repeat: no-repeat;  
  background-attachment: fixed; 
}
